:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-white: rgba(255, 255, 255, 1);
  --text-black: rgba(0, 0, 0, 1);
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.4000000059604645;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.content-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.node-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-26-9 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0px 24px 0px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 3px solid rgba(255, 255, 255, 1);
}

.column-1-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.placeholder-13 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  padding: 48px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 48.170731707317074%;
  width: 100%;
  height: auto;
}

.row-1-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 91.11111111111111%;
}

.ellipse-1-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-29-17 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-1-15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.628048780487802%;
  background-color: rgba(255, 255, 255, 1);
}

.ellipse-1-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-29-22 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-2-20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.ellipse-1-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}

.text-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-29-27 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-3-25 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.628048780487802%;
  background-color: rgba(255, 255, 255, 1);
}

.ellipse-1-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}

.text-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-29-32 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-4-30 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.628048780487802%;
  background-color: rgba(255, 255, 255, 1);
}

.row-2-14 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 91.11111111111111%;
}

.node-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 96px;
  padding: 96px 64px 96px 64px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 99.93060374739764%;
  background-color: rgba(63, 63, 70, 1);
}

.built-for-the-future-1 {
@media (max-width: 1440px) {
  .built-for-the-future-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .built-for-the-future-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
