:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-rgb-23-26-31: rgba(23, 26, 31, 1);
}

.text-rgb-23-26-31 {
  color: var(--text-rgb-23-26-31);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.text-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.placeholder-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  padding: 48px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.column-1-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.ellipse-1-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}

.text-14 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.frame-31-12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 89.87341772151899%;
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.content-16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.vector-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.node-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-30-21 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.frame-29-15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-1-11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.ellipse-1-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}

.text-28 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.frame-31-26 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 89.87341772151899%;
}

.text-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.content-30 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.vector-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.node-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-30-35 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.frame-29-29 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-2-25 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.ellipse-1-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}

.text-42 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.frame-31-40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 89.87341772151899%;
}

.text-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.text-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.content-44 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-23-26-31);
}

.vector-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.node-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-30-49 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.frame-29-43 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-3-39 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.column-2-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 48.170731707317074%;
}

.row-1-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 91.11111111111111%;
}

.node-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 96px;
  padding: 96px 64px 96px 64px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(228, 228, 231, 1);
}

.how-we-solve-1 {
@media (max-width: 1440px) {
  .how-we-solve-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .how-we-solve-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
